@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #8f8fa8;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/
.section-title {
  margin-bottom: 45px;
}

.section-title h2 {
  color: #191919;
  font-size: 36px;
  font-weight: 500;
  padding-left: 12px;
  margin-bottom: 20px;
  line-height: 26px;
  position: relative;
}

.section-title h2:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 29px;
  background: #1d1d1d;
  content: "";
}

.section-title p {
  color: #6e6e6e;
  line-height: 24px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.spad-2 {
  padding-top: 50px;
  padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #ffffff;
}

/* buttons */
.primary-btn {
  display: inline-block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 12px 39px;
  color: #ffffff;
  background: #1d1d1d;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
}

/* Preloder */
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

.spacial-controls {
  position: fixed;
  width: 111px;
  height: 91px;
  top: 0;
  right: 0;
  z-index: 999;
}

/* Mixin */
/* Set các giá trị với màn hình tương ứng */
.secondary-btn {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border: none;
  background: none;
  color: #333333;
  margin: 1rem 0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.secondary-btn:hover {
  color: #36adf7;
}

.mt-1 {
  margin: 1rem 0;
}

.hidden {
  opacity: 0;
  z-index: -1;
  display: none !important;
}

/*----------------------------------------*/
/* Login page
/*----------------------------------------*/
.login {
  width: 50%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: -webkit-gradient(linear, right top, left top, from(#a6ffcb), color-stop(#12d8fa), to(#1fa2ff));
  background: linear-gradient(to left, #a6ffcb, #12d8fa, #1fa2ff);
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 479px) {
  .login {
    width: 100%;
    height: 100%;
  }
}

.login .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .logo img {
  width: 70%;
}

.login__form {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  padding: 30px 20px;
}

.login__form--title {
  text-transform: uppercase;
  color: #1d1d1d;
}

.login__form--input {
  position: relative;
  margin: 10px 0;
  padding-top: 15px;
}

.login__form--input::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #1d1d1d;
  position: absolute;
  bottom: 0;
  left: 0;
}

.login__form--input label {
  position: absolute;
  margin: 0 5px;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #6e6e6e;
  opacity: 0;
}

.login__form--input input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.6rem;
}

.login__form--input input:not(:placeholder-shown) + label,
.login__form--input input:focus + label {
  font-size: 13px;
  top: 0;
  color: #1d1d1d;
  opacity: 1;
}

.login__form .login--btn,
.login__form .change-btn {
  margin: 20px 0;
  width: 30%;
  min-width: 10rem;
  text-align: center;
  padding: 10px 0;
}

/*----------------------------------------*/
/* main page
/*----------------------------------------*/
/* --------navbar-------------------------*/
.nav-menu {
  position: fixed;
  background-color: #2c2d3a;
  -webkit-transition: width 600ms ease;
  transition: width 600ms ease;
  padding: 1rem;
  font-size: 1.6rem;
  width: 10rem;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 1000;
}

.nav-menu.nav-menu--mobile {
  width: 100%;
  height: auto;
}

.nav-menu.nav-menu--mobile .nav-header .showMenu {
  border: 1px solid #3e4154;
  background: none;
  color: #ffffff;
  font-size: 2rem;
  padding: 0.5rem;
}

.nav-menu.nav-menu--mobile:hover {
  width: 100%;
}

.nav-menu.nav-menu--mobile .navbar-nav {
  width: 100%;
  height: 0;
  overflow-y: hidden;
  -webkit-transition: height 0.2s ease-in-out 0.2s;
  transition: height 0.2s ease-in-out 0.2s;
}

.nav-menu.nav-menu--mobile .navbar-nav.show {
  height: 100vh;
  overflow: auto;
}

.nav-menu.nav-menu--mobile .navbar-nav .nav-item {
  width: 100%;
  padding: 1rem 0;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  position: relative;
}

.nav-menu.nav-menu--mobile .navbar-nav .nav-item:hover {
  background-color: #2c2d3a !important;
}

.nav-menu.nav-menu--mobile .navbar-nav .nav-item.active {
  position: relative;
}

.nav-menu.nav-menu--mobile .navbar-nav .nav-item.active::before {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
          clip-path: polygon(100% 0, 100% 100%, 0 50%);
  height: 50%;
  width: 1.5rem;
  background-color: white;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav-menu.nav-menu--mobile .navbar-nav .nav-item:nth-child(odd) {
  background-color: #3e4154;
}

.nav-menu.nav-menu--mobile .navbar-nav .nav-item:nth-child(even) {
  background-color: #323543;
}

.nav-menu.nav-menu--mobile .navbar-nav .nav-item:nth-child(1) {
  margin-top: 1rem;
}

.nav-menu.nav-menu--mobile .navbar-nav .nav-item .nav-link {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  position: relative;
}

.nav-menu.nav-menu--mobile .navbar-nav .nav-item .nav-link .icon {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1.5rem;
}

.nav-menu.nav-menu--mobile .navbar-nav .nav-item .nav-link .icon i {
  font-size: 3rem;
  color: white;
  margin: 0 auto;
}

.nav-menu.nav-menu--mobile .navbar-nav .nav-item .nav-link .link-text {
  text-transform: uppercase;
  margin-left: 1.5rem;
  display: block;
  opacity: 1;
  color: white;
}

.nav-menu:hover {
  width: 30rem;
  -webkit-transition: width 600ms ease;
  transition: width 600ms ease;
}

.nav-menu:hover .navbar-nav .nav-item .nav-link .link-text {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  opacity: 1;
}

.nav-menu .nav-header {
  width: 100%;
  height: 7rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/md-header-bg.jpg");
}

.nav-menu .nav-header .logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: auto 0;
}

.nav-menu .nav-header .logo img {
  width: 5rem;
  margin: 0 1.5rem;
}

.nav-menu .navbar-nav {
  width: 100%;
}

.nav-menu .navbar-nav .nav-item {
  width: 100%;
  padding: 1rem 0;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  position: relative;
}

.nav-menu .navbar-nav .nav-item:hover {
  background-color: #2c2d3a !important;
}

.nav-menu .navbar-nav .nav-item:hover ul {
  top: 100%;
  z-index: 1000;
  opacity: 1;
}

.nav-menu .navbar-nav .nav-item:hover ul li.nav-item {
  margin: 0;
  padding: 1rem 0;
}

.nav-menu .navbar-nav .nav-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.2s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out 0.2s;
}

.nav-menu .navbar-nav .nav-item ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu .navbar-nav .nav-item ul li button {
  border: none !important;
  background: none;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

.nav-menu .navbar-nav .nav-item.active {
  position: relative;
}

.nav-menu .navbar-nav .nav-item.active::before {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
          clip-path: polygon(100% 0, 100% 100%, 0 50%);
  height: 50%;
  width: 1.5rem;
  background-color: white;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav-menu .navbar-nav .nav-item:nth-child(odd) {
  background-color: #3e4154;
}

.nav-menu .navbar-nav .nav-item:nth-child(even) {
  background-color: #323543;
}

.nav-menu .navbar-nav .nav-item:nth-child(1) {
  margin-top: 1rem;
}

.nav-menu .navbar-nav .nav-item .nav-link {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.nav-menu .navbar-nav .nav-item .nav-link .icon {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1.5rem;
}

.nav-menu .navbar-nav .nav-item .nav-link .icon i {
  font-size: 3rem;
  color: white;
  margin: 0 auto;
}

.nav-menu .navbar-nav .nav-item .nav-link .link-text {
  text-transform: uppercase;
  margin-left: 1.5rem;
  display: none;
  opacity: 0;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  color: white;
}

/*-------------------- main----------------*/
.main {
  height: 100vh;
  padding-top: 10rem;
  margin-left: 0;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    padding: 5rem;
    margin-left: 10rem;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 5rem;
    margin-left: 10rem;
  }
}

.main .title {
  margin-bottom: 3rem;
  text-align: center;
}

@media (max-width: 479px) {
  .main .title {
    padding-top: 10rem;
  }
}

.main .user-profile__image {
  width: 50%;
  margin: 0 auto;
}

.main .select-teacher .select-option .select-group {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .list-teacher__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 2rem 0;
  background: black;
  background: linear-gradient(103deg, black 0%, white 100%);
  line-height: 2;
  color: #ffffff;
}

.main .list-teacher__header p {
  margin-bottom: 0;
  color: #ffffff;
}

.main .list-teacher__header .more {
  font-size: 1.6rem;
  color: #323543;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.main .list-teacher__header .more:hover {
  color: #1d1d1d;
}

.main .list-teacher__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .list-teacher__list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  margin: 1rem;
  border: 1px solid #000000;
  border-radius: 1rem;
}

.main .list-teacher__list .item__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
}

.main .list-teacher__list .item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 2rem;
}

.main .form,
.main .object-details {
  position: fixed;
  width: 100%;
  height: 100vmax;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 1000;
  padding: 5rem;
  overflow: scroll;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.main .form.hidden,
.main .object-details.hidden {
  opacity: 0;
  z-index: -1;
}

@media (max-width: 479px) {
  .main .form,
  .main .object-details {
    padding: 2rem 0;
    overflow: scroll;
  }
}

.main .form__content,
.main .object-details__content {
  margin: 1rem 0;
}

@media (min-width: 1024px) {
  .main .form__content,
  .main .object-details__content {
    margin: 0;
  }
}

.main .form__content .input--form,
.main .object-details__content .input--form {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

@media (min-width: 1024px) {
  .main .form__content .input--form,
  .main .object-details__content .input--form {
    max-width: 60rem;
  }
}

.main .form__content .input--form label,
.main .object-details__content .input--form label {
  margin-bottom: 0;
}

.main .form__content .input--form input,
.main .object-details__content .input--form input {
  width: auto;
  border: none;
  padding: 0.5rem;
  position: relative;
}

.main .form__content .input--form input .border,
.main .object-details__content .input--form input .border {
  border: 1px solid #333333;
}

@media (min-width: 1024px) {
  .main .form__content .input--form input,
  .main .object-details__content .input--form input {
    min-width: 40rem;
  }
}

.main .form__content .input--form input::after,
.main .object-details__content .input--form input::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #1d1d1d;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main .form__content .form__btn,
.main .object-details__content .form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .form__content .form__btn .primary-btn,
.main .object-details__content .form__btn .primary-btn {
  padding: 1rem 0;
  width: 20%;
  margin: 1rem;
  font-size: 1.2rem;
}

.main .internship-information__table,
.main .list-student__table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.6rem;
}

.main .internship-information__table--col,
.main .list-student__table--col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .internship-information__table--col:last-child .col--content,
.main .list-student__table--col:last-child .col--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .internship-information__table--col:nth-child(even),
.main .list-student__table--col:nth-child(even) {
  background-color: #d8d8d8;
}

.main .internship-information__table--col:nth-child(odd),
.main .list-student__table--col:nth-child(odd) {
  background-color: #cccccc;
}

.main .internship-information__table--col .col--head,
.main .list-student__table--col .col--head {
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem;
  border-bottom: 1px solid #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main .internship-information__table--col .col--content,
.main .list-student__table--col .col--content {
  padding: 2rem;
  border-bottom: 1px solid #ffffff;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .internship-information__table .table,
.main .list-student__table .table {
  font-size: 1.6rem;
}

.main .internship-information__table .table th,
.main .internship-information__table .table td,
.main .list-student__table .table th,
.main .list-student__table .table td {
  height: 5rem;
  padding: 1rem 0.5rem;
}

.main .internship-information__table .table tbody tr,
.main .list-student__table .table tbody tr {
  cursor: pointer;
}

.main .management .table,
.main .list-student .table {
  font-size: 1.6rem;
}

.main .management .table th,
.main .management .table td,
.main .list-student .table th,
.main .list-student .table td {
  height: 5rem;
  padding: 1rem 0.5rem;
}

.main .management .table tbody tr,
.main .list-student .table tbody tr {
  cursor: pointer;
}

.main .management .select-option,
.main .list-student .select-option {
  font-size: 1.6rem;
}

.main .management .select-option .input-group,
.main .list-student .select-option .input-group {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .management .select-option .input-group input,
.main .list-student .select-option .input-group input {
  margin-right: 1rem;
}

.main .management .select-option .input-group .primary-btn,
.main .list-student .select-option .input-group .primary-btn {
  padding: 1rem 2rem;
}

.main .management .select-option .select-group,
.main .list-student .select-option .select-group {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .management .select-option .select-group .dropdown .filter-option-inner,
.main .list-student .select-option .select-group .dropdown .filter-option-inner {
  font-size: 1.6rem;
}

.main .management .select-option .select-group .dropdown-menu,
.main .list-student .select-option .select-group .dropdown-menu {
  font-size: 1.6rem;
}

.main .management__addUser,
.main .list-student__addUser {
  font-size: 1.6rem;
}

.main .management__addUser .radio-button,
.main .list-student__addUser .radio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .management__addUser .type-addbox__btn-group,
.main .list-student__addUser .type-addbox__btn-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .management__addUser .type-addbox__btn-group .primary-btn,
.main .list-student__addUser .type-addbox__btn-group .primary-btn {
  margin: 0 1rem;
}

.main .management__addUser .type-addbox,
.main .list-student__addUser .type-addbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #000000;
  position: relative;
}

.main .management__addUser .type-addbox .radio-button,
.main .management__addUser .type-addbox .form__btn,
.main .list-student__addUser .type-addbox .radio-button,
.main .list-student__addUser .type-addbox .form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  max-width: 40rem;
  margin: 2rem 0;
}

.main .management__addUser .type-addbox .user--one,
.main .management__addUser .type-addbox .multiple--user,
.main .list-student__addUser .type-addbox .user--one,
.main .list-student__addUser .type-addbox .multiple--user {
  width: 100%;
  max-width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .management__addUser .type-addbox .user--one .input--form,
.main .management__addUser .type-addbox .multiple--user .input--form,
.main .list-student__addUser .type-addbox .user--one .input--form,
.main .list-student__addUser .type-addbox .multiple--user .input--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem;
}

.main .management__addUser .type-addbox .user--one .input--form select,
.main .management__addUser .type-addbox .user--one .input--form input,
.main .management__addUser .type-addbox .multiple--user .input--form select,
.main .management__addUser .type-addbox .multiple--user .input--form input,
.main .list-student__addUser .type-addbox .user--one .input--form select,
.main .list-student__addUser .type-addbox .user--one .input--form input,
.main .list-student__addUser .type-addbox .multiple--user .input--form select,
.main .list-student__addUser .type-addbox .multiple--user .input--form input {
  width: 100%;
  max-width: 18rem;
}

@media (min-width: 1024px) {
  .main .management__addUser .type-addbox .user--one .input--form select,
  .main .management__addUser .type-addbox .user--one .input--form input,
  .main .management__addUser .type-addbox .multiple--user .input--form select,
  .main .management__addUser .type-addbox .multiple--user .input--form input,
  .main .list-student__addUser .type-addbox .user--one .input--form select,
  .main .list-student__addUser .type-addbox .user--one .input--form input,
  .main .list-student__addUser .type-addbox .multiple--user .input--form select,
  .main .list-student__addUser .type-addbox .multiple--user .input--form input {
    min-width: 25rem;
  }
}

.main .management__addUser .type-addbox .user--one .input--form select .selected,
.main .management__addUser .type-addbox .user--one .input--form input .selected,
.main .management__addUser .type-addbox .multiple--user .input--form select .selected,
.main .management__addUser .type-addbox .multiple--user .input--form input .selected,
.main .list-student__addUser .type-addbox .user--one .input--form select .selected,
.main .list-student__addUser .type-addbox .user--one .input--form input .selected,
.main .list-student__addUser .type-addbox .multiple--user .input--form select .selected,
.main .list-student__addUser .type-addbox .multiple--user .input--form input .selected {
  color: #4e4e4e;
}

.change-pass__form {
  position: fixed;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  opacity: 0;
  z-index: -1;
  min-width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
  font-size: 1.6rem;
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.75);
}

.change-pass__form.show {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1000;
}

.change-pass__form--exit {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: none;
  background: none;
  font-size: 2rem;
}

.change-pass__form--input {
  margin: 0.5rem 0;
}
/*# sourceMappingURL=style.css.map */