<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./theme/css/style.css">
    <script src="https://kit.fontawesome.com/00da938b88.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <title>Thêm tài khoăn</title>
</head>

<body>
    <nav class="nav-menu d-md-block d-none">
        <div class="nav-header">
            <a href="#" class="logo">
                <img src="./theme/images/logo-small.png" alt="logo">
            </a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item" index="1">
                <a href="./adminPageQLSV.html" class="nav-link">
                    <div class="icon">
                        <i class="far fa-user"></i>
                    </div>
                    <span class="link-text">Quản lý sinh viên</span>
                </a>
            </li>

            <li class="nav-item" index="2">
                <a href="./adminPageQLGV.html" class="nav-link">
                    <div class="icon">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <span class="link-text">Quản lý giảng viên</span>
                </a>
            </li>


            <li class="nav-item" index="3">
                <a href="./adminPageQLDA.html" class="nav-link">
                    <div class="icon">
                        <i class="fas fa-receipt"></i>
                    </div>
                    <span class="link-text">Quản lý đồ án</span>
                </a>
            </li>
            <li class="nav-item" index="4">
                <a href="./adminPageQLUser.html" class="nav-link">
                    <div class="icon">
                        <i class="fas fa-tasks"></i>
                    </div>
                    <span class="link-text">Quản lý tài khoản</span>
                </a>
            </li>

            <li class="nav-item" index="5">
                <a href="./adminPageAddUser.html" class="nav-link">
                    <div class="icon">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <span class="link-text">Thêm user</span>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="nav-menu nav-menu--mobile d-block d-md-none">
        <div class="nav-header">
            <a href="#" class="logo">
                <img src="./theme/images/logo-small.png" alt="logo">
            </a>
            <button class="showMenu" onclick="toggleMenuForMobile()">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <ul class="navbar-nav">
            <li class="nav-item" index="1">
                <a href="./adminPageQLSV.html" class="nav-link">
                    <div class="icon">
                        <i class="far fa-user"></i>
                    </div>
                    <span class="link-text">Quản lý sinh viên</span>
                </a>
            </li>

            <li class="nav-item" index="2">
                <a href="./adminPageQLGV.html" class="nav-link">
                    <div class="icon">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <span class="link-text">Quản lý giảng viên</span>
                </a>
            </li>


            <li class="nav-item" index="3">
                <a href="./adminPageQLDA.html" class="nav-link">
                    <div class="icon">
                        <i class="fas fa-receipt"></i>
                    </div>
                    <span class="link-text">Quản lý đồ án</span>
                </a>
            </li>
            <li class="nav-item" index="4">
                <a href="./adminPageQLUser.html" class="nav-link">
                    <div class="icon">
                        <i class="fas fa-tasks"></i>
                    </div>
                    <span class="link-text">Quản lý tài khoản</span>
                </a>
            </li>

            <li class="nav-item" index="5">
                <a href="./adminPageAddUser.html" class="nav-link">
                    <div class="icon">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <span class="link-text">Thêm user</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- main -->
    <main class="main">
        <div class="management">
            <h1 class="title">Thêm tài khỏan</h1>
            <div class="container">
                <form class="management__addUser">
                    <div class="type-addbox__btn-group">
                        <button class="primary-btn" data-type="1">Tạo từng tài khoản </button>
                        <button class="primary-btn" data-type="2">Tạo nhiều tài khoản</button>
                    </div>
                    <div class="type-addbox">
                        <h2 class="title">Nhập từng tài khoản</h2>
                        <div class="radio-button">
                            <div class="radio-button--option">
                                <input type="radio" name="user-type" id="sv" value="sv" checked>
                                <label for="sv"> Sinh viên</label>
                            </div>
                            <div class="radio-button--option">
                                <input type="radio" name="user-type" id="gv" value="gv">
                                <label for="gv">Giảng Viên</label>
                            </div>

                        </div>
                        <div class="user--one">
                            <div class="gv-form hidden ">
                                <div class="ten input--form">
                                    <label> Tên : </label>
                                    <input name="Name" type="text" placeholder="Nhập Tên">
                                </div>
                                <div class="ma input--form">
                                    <label> Mã: </label>
                                    <input name="Class" type="text" placeholder="Nhập ID">
                                </div>
                                <div class="khoa input--form">
                                    <label> Khoa: </label>
                                    <select>
                                        <option class="selected" value="" selected> Chọn khoa</option>
                                        <option value="CNTT">Công nghệ thông tin</option>
                                        <option value="CNTT">Công nghệ thông tin</option>
                                        <option value="CNTT">Công nghệ thông tin</option>
                                        <option value="CNTT">Công nghệ thông tin</option>
                                    </select>
                                </div>
                                <div class="bomon-lop input--form">
                                    <label> Bộ môn: </label>
                                    <select>
                                        <option class="selected" value="" selected> Bộ môn</option>
                                        <option value="CNTT">Công nghệ thông tin</option>
                                        <option value="CNTT">Công nghệ thông tin</option>
                                        <option value="CNTT">Công nghệ thông tin</option>
                                        <option value="CNTT">Công nghệ thông tin</option>
                                    </select>
                                </div>
                                <div class="email input--form">
                                    <label> Email: </label>
                                    <input type="text" placeholder="Nhập email">
                                </div>
                                <div class="image input--form">
                                    <label> Ảnh: </label>
                                    <input type="file"" placeholder=" Thêm ảnh ">
                                </div>
    
                            </div>
                            <div class=" sv-form">
                                    <div class=" ten input--form">
                                        <label> Tên : </label>
                                        <input name="Name" type="text" placeholder="Nhập Tên">
                                    </div>
                                    <div class="ma input--form">
                                        <label> Mã: </label>
                                        <input name="Class" type="text" placeholder="Nhập ID">
                                    </div>
                                    <div class="diem-tb input--form">
                                        <label> Điểm trung bình: </label>
                                        <input name="poin"" type=" text" placeholder="Nhập điểm ">
                                    </div>
                                    <div class="khoa input--form">
                                        <label> Khoa: </label>
                                        <select>
                                            <option class="selected" value="" selected> Chọn khoa</option>
                                            <option value="CNTT">Công nghệ thông tin</option>
                                            <option value="CNTT">Công nghệ thông tin</option>
                                            <option value="CNTT">Công nghệ thông tin</option>
                                            <option value="CNTT">Công nghệ thông tin</option>
                                        </select>
                                    </div>
                                    <div class="bomon-lop input--form">
                                        <label> Lớp: </label>
                                        <select>
                                            <option class="selected" value="" selected> Lớp</option>
                                            <option value="CNTT">Công nghệ thông tin</option>
                                            <option value="CNTT">Công nghệ thông tin</option>
                                            <option value="CNTT">Công nghệ thông tin</option>
                                            <option value="CNTT">Công nghệ thông tin</option>
                                        </select>
                                    </div>
                                    <div class="email input--form">
                                        <label> Email: </label>
                                        <input type="text" placeholder="Nhập email">
                                    </div>
                                    <div class="image input--form">
                                        <label> Ảnh: </label>
                                        <input type="file"" placeholder=" Thêm ảnh ">
                                    </div>

                            </div>
                       

                            <div class=" form__btn">
                                        <button class="form__btn--submi primary-btn">Tạo</button>
                                        <button class="primary-btn"> Hủy</button>
                                        <!-- <button class="primary-btn cancel-btn"> Quay lại</button> -->
                                    </div>
                                </div>
                                <div class="multiple--user hidden">
                                    <p class="huong-dan">Hướng dẫn : Nhập tài khoản bằn file excel gồm các cột: <br> Mã
                                        sinh
                                        vên/ Mã giảng viên; Khoa; Lớp/Bộ môn; Ngày tháng năm sinh; Email </p>

                                    <input type="file">

                                    <div class="form__btn">
                                        <button class="form__btn--submi primary-btn">Tạo</button>
                                        <button class="primary-btn"> Hủy</button>
                                        <!-- <button class="primary-btn cancel-btn"> Quay lại</button> -->
                                    </div>
                                </div>

                            </div>
                </form>
            </div>
        </div>
    </main>

    <!-- footer -->

    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="./theme/js/index.js"></script>

</body>

</html>